.header{
    padding: 0px 32px;
    background: rgba(255, 255, 255, 1) !important;
    box-shadow: 0px -1px 0px 0px rgba(214, 221, 235, 1) inset !important;
    height: 85px !important;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-button {
    margin-right: 32px;
    gap: 32px;
}
