.layout-wrapper {
  height: 100vh;
}
.content {
  background: #ffffff !important ;
  padding: 0px 32px;
}

.content-header {
  margin-bottom: 32px;
}

.ant-card .ant-card-body {
  padding: 12px;
}

.icon-card {
  position: absolute;
  z-index: 0;
  bottom: -1px;
  right: -1px;
}

.linkku {
  color: #4640de;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.tabel{
  margin-top: 20px;
}
